<footer>
    <h4>Sobre nós</h4>
        <p>Um grupo de cinco estudantes com o objetivo de transformar a educação tivemos. a ideia de ajudar pessoas que querem se desenvolver em diversas áreas relacionada a tecnologia.
            Trazendo conhecimento de forma gratuita.</p>
        <div class="icons">
            <a href="https://pt-br.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="rights">
           <p>All Rights Reserved to <a href="https://github.com/lNicxs" i class="fa fa-github-alt" aria-hidden="true"></i></a> lNicxs</p>
        </div>
</footer>